

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:serif,sans-serif;
}

body{
    width:100vw;
    height:100vh;
    background-color:black;
    color: white;
}


/* navbar sections */
.navbar{
    width:100vw;
    height:15vh;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius:50px;
    /* padding:50px; */
    position: fixed;
    z-index:1;
    border: 1px solid white;
}
.menu{
    width:50%;
    height:100%;
    display: flex;
    list-style:none;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.menu ul{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type:none;
}

.menu ul li{
    font-weight: 800;
    font-size:22px;
    cursor: pointer;
}

.main ul li:hover{
    color:red;
    
}

.navbar .logo{
    font-size: 50px;
    font-weight: 900;
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-left:40px;
}

/* body with three sections */

.main{
    width:100%;
    height: 100vh;
    background-color:black;
    display: flex;
    align-items:end;
    justify-content:space-between;
    flex-direction:row;
}

.main .textbox{
    width:50%;
    height: 84%; 
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main .textbox h1{
    font-size:4em;
    font-weight: 600;
}
.main .textbox h2{
    width:50%;
    display: flex;
    align-items:center;
    justify-content:space-evenly;   
}

.main .textbox h2 span{
    width: 50%;
    height:100%;
    position: relative;
}
.main .textbox h2 span::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    border-right: 1px solid white;
    animation-delay:2s;
    animation: text 3s  ease-in-out infinite;
    animation-direction: alternate;
    white-space: nowrap;
}

@keyframes text{
    0%{
        content: "Software Engineering";
        
    }50%{
        content:"Web Developer";
    }100%{
        content:"mobile Developer";
    }  
}

.main .textbox .text{
    text-align: center;
    font-size:2em;
    line-height:1em;
    font-size:1.5em;
    font-weight: 500;
    width: 80%;
}

.main .textbox .icons{
    width:80%;
    padding:10px;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}
.main .textbox .icons img{
    width:40px;
    height:40px;
    border-radius:50px;
    object-fit: cover;
    object-position: center;
    color: white;
    margin: 0 15px;
    cursor: pointer;
}

.main .textbox .icons img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.main .pictures{
     background-color: bisque;
    width:50%;
    height: 84%; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

