

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:serif,sans-serif;
}

body{
    width:100vw;
    height:100vh;
    background-color:black;
    color: white;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-1;
}

/* navbar sections */
.navbar{
    width:100vw;
    height:15vh;
    background-color:transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius:50px;
    /* padding:50px; */
    position: fixed;
    z-index:1;
    border: 1px solid white;
}
.menu{
    width:50%;
    height:100%;
    display: flex;
    list-style:none;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.menu ul{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type:none;
}

.menu ul li a{
    font-weight: 800;
    font-size:22px;
    text-decoration:none;
    color: white;
    cursor: pointer;
    width:max-content;
    position: relative;
}
li a::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    height:2px;
    width:100%;
    transition: width 1s ease-in-out;
    background:linear-gradient(white,grey,white);
}
 ul li a:hover::after{
    width:0%;
}



.navbar .logo{
    font-size: 50px;
    font-weight: 900;
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-left:40px;
    animation:logo 5s ease-out forwards infinite; 
}
@keyframes logo {
    from{
        opacity:0;
        transform:scale(0.8);
    }to{
        opacity:1;
        transform:scale(1);
    }
}

/* body with three sections */

.main{
    width:100%;
    height: 100vh;
    background-color:transparent;
    display: flex;
    align-items:end;
    justify-content:space-between;
    flex-direction:row;
}

.main .textbox{
    width:50%;
    height: 84%; 
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main .textbox h1{
    font-size:4em;
    font-weight: 600;
    color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    text-indent:5px;
    background-color: transparent;
}

.main .textbox h1 .name{
    background:linear-gradient(white,grey,black);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.main .textbox h2{
    width:80%;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:start;
    gap:20px;   
}

.main .textbox h2 span{
    width: 50%;
    height:100%;
    position: relative;
}
.main .textbox h2 span::after{
    content:"";
    position: absolute;
    color:white;
    font-size: 1em;
    top:0;
    left:0;
    border-right: 1px solid white;
    animation-delay:2s;
    animation: text 3s  ease-in-out infinite;
    animation-direction: alternate;
    white-space: nowrap;
}

@keyframes text{
    0%{
        content: "Software Engineering";
        
    }50%{
        content:"Web Developer";
    }100%{
        content:"mobile Developer";
    }  
}

.main .textbox .text{
    text-align: center;
    font-size:1em;
    line-height:1em;
    font-weight:500;
    width: 80%;
}

.main .textbox .icons{
    width:80%;
    padding:10px;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-top:20px;
}
.main .textbox .icons img{
    width:50px;
    height:50px;
    border-radius:50px;
    object-fit: cover;
    object-position: center;
    color: white;
    margin: 0 15px;
    border: 1px solid white;
    cursor: pointer;
}

.main .textbox .icons img:hover{
    background-color: grey;
    color: white;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.call-to-action{
    width:80%;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content:start;
    gap:20px;
    padding:10px;
    margin-top:20px;
}
.call-to-action .hirebtn{
    width:30%;
    height:50px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
.call-to-action  .Contact-btn{
    width:30%;
    height:50px;
    border: 1px solid black;
    border-radius: 30px;
    background-color:white;
    color:black;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
.main .pictures{
    width:50%;
    height: 84%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent;
}
.main .pictures .photo{
     background-color:grey;
     height: 500px;
     width:500px;
     border-radius:300px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}
.main .pictures .photo::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    background:linear-gradient(grey,white,grey);
    height:100%;
    width:100%;
    border-radius:300px;
    border: 2px solid white;
    animation: glow 2s infinite alternate;
    animation: color 2s linear infinite;
}
@keyframes glow {
    from{
        box-shadow:0 0 5px white;
    }to{
        box-shadow:0 0 20px white;
    }
}
@keyframes color {
     0%{
        transform: rotate(360deg);
     }100%{
        
     }   
}
.main .pictures .photo img{
    background-color:transparent;
    height:490px;
    width: 490px;
    border-radius:300px;
    object-fit: cover;
    object-position: center;
    z-index:1;
}