

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:serif,sans-serif;
}

body{
    width:100vw;
    height:265vh;
    overflow-x:hidden;
    background-color:black;
    color: white;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-1;
}

/* navbar sections */
.navbar{
    width:100vw;
    height:15vh;
    background-color:transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius:50px;
    padding:50px;
    position: fixed;
    z-index:10;
    border: 1px solid white;
}


.menu{
    width:50%;
    height:100%;
    display:flex;
    list-style:none;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    position: relative;
}

.menu-toggle{
    background-color:black;
    border:none;
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.menu-toggle img{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    width:30px;
    height:30px;
}



@media (max-width:768px) {
.menu .open{
    position: absolute;
    left:0;
    width:50%;
    height:40vh;
    border-radius:0 0 20px 20px;
    border: 1px solid white;
}

.menu.closed{
    display: none;
}

}


@media (min-width: 768px) {
    .menu-toggle{
        display:none;
    }

}

.menu ul{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type:none;
}

.menu ul li a{
    font-weight: 800;
    font-size:22px;
    text-decoration:none;
    color: white;
    cursor: pointer;
    width:max-content;
    position: relative;
}

li a::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    height:2px;
    width:100%;
    transition: width 1s ease-in-out;
    background:linear-gradient(white,grey,white);
}

 ul li a:hover::after{
    width:0%;
}

.navbar .logo{
    font-size: 50px;
    font-weight: 900;
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-left:40px;
    animation:logo 5s ease-out forwards infinite; 
}

@keyframes logo {
    from{
        opacity:0;
        transform:scale(0.8);
    }to{
        opacity:1;
        transform:scale(1);
    }
}

/* body with three sections */

.main{
    width:100%;
    height: 100vh;
    background-color:transparent;
    display:flex;
    align-items:end;
    justify-content:space-between;
    flex-direction:row;
}

.main .textbox{
    width:50%;
    height:fit-content; 
    background-color:black;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:start;
    justify-content:center;
}

.main .textbox h1{
    font-size:3em;
    overflow-y: hidden;
    font-weight: 600;
    color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    text-indent:5px;
    background-color: transparent;
}

.main .textbox h1 .name{
    background:linear-gradient(white,grey,black);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.main .textbox h2{
    width:80%;
    font-size: 3em;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content:start;
    gap:20px;   
}

.main .textbox h2 span{
    width: 0%;
    height:100%;
    background-color: aquamarine;
    position: relative;
    bottom:20px;
}

.main .textbox h2 span::after{
    content:"";
    position: absolute;
    color:white;
    width:max-content;
    font-size: 1em;
    top:0;
    left:0;
    animation-delay:2s;
    animation: text 3s  ease-in-out infinite;
    animation-direction: alternate;
    white-space: nowrap;
}

@keyframes text{
    0%{
        content: "Software Developer";
        border-right: 1px solid white ;
    }50%{
        content:"Web Developer";
        border-right:1px solid white ;
    }100%{
        content:"Mobile Developer";
         border-right:1px solid white ;
    }  
}

.main .textbox .text{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-size:1em;
    line-height:1em;
    font-weight:500;
    width:80%;
}

.main .textbox .icons{
    width:80%;
    padding:10px;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-top:20px;
}
.main .textbox .icons img{
    width:50px;
    height:50px;
    border-radius:50px;
    object-fit: cover;
    object-position: center;
    color: white;
    margin: 0 15px;
    border: 1px solid white;
    cursor: pointer;
}

.main .textbox .icons img:hover{
    background-color: grey;
    color: white;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.call-to-action{
    width:70%;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content:start;
    gap:20px;
    padding:10px;
    margin-top:20px;
}
.call-to-action .hirebtn{
    width:30%;
    height:50px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
.call-to-action  .Contact-btn{
    width:30%;
    height:50px;
    border: 1px solid black;
    border-radius: 30px;
    background-color:white;
    color:black;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

/* working on the profile picture */

.main .pictures{
    width:50%;
    height: 84%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent;
}
.main .pictures .photo{
     background-color:grey;
     height: 500px;
     width:500px;
     border-radius:300px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}
.main .pictures .photo::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    background:linear-gradient(grey,white,grey);
    height:100%;
    width:100%;
    border-radius:300px;
    border: 2px solid white;
    animation: glow 2s infinite alternate;
    animation: color 2s linear infinite;
}
@keyframes glow {
    from{
        box-shadow:0 0 5px white;
    }to{
        box-shadow:0 0 20px white;
    }
}
@keyframes color {
     0%{
        transform: rotate(360deg);
     }100%{
        
     }   
}
.main .pictures .photo img{
    background-color:transparent;
    height:490px;
    width: 490px;
    border-radius:300px;
    object-fit: cover;
    object-position: center;
    z-index:1;
}


/* Project section */


.Projects{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin: auto;
    overflow: hidden;
    justify-content:center;
    flex-direction: row;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .navbar {
        height: 10vh;
        flex-direction: column;
        border-radius: 0;
    }

    .navbar .logo {
        width: 100%;
        margin-left: 20px;
        font-size: 30px;
    }

    .menu {
        width: 100vw;
        height: 100vh;
        background-color:grey;
        display:flex;
        position: relative;
        top:25px;
        left: 50px;
        animation: 0.3s ease-in-out;
    }

    .menu ul{
        height:100%;
        width: 100%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:10px;
        margin: 10px;
        gap: 10px; 
    }

    .menu ul li a {
        font-size: 14px;
    }

    .main {
        flex-direction: column-reverse;
        height: auto;
        padding-top: 10vh;
        align-items: center;
        justify-content: center;
    }
    

    .main .textbox,
    .main .pictures {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .main .textbox h1 {
        margin-top:15px;
        text-transform: capitalize;
        font-size: 2em;
    }

    .main .textbox h2 {
        font-size: 1.5em;
        padding: 2px;
        margin:5px;
    }

    .main .textbox h2 span{
        position: relative;
        bottom:10px;
    }

    .main .pictures .photo {
        height: 300px;
        width: 300px;
        border-radius: 150px;
    }

    .main .pictures .photo img {
        height: 290px;
        width: 290px;
        border-radius: 150px;
    }

    body {
        height: auto;
        width: 100vw;
        overflow-x: hidden;
    }

    canvas {
        height: 100vh;
    }
}

@media (max-width: 480px) {
    .navbar {
        height: 8vh;
    }

    .navbar .logo {
        font-size: 20px;
        margin-left: 10px;
    }

    .menu ul li a {
        font-size: 12px;
    }

    .main .textbox h1 {
        font-size: 1.5em;
    }

    .main .textbox h2 {
        font-size: 1.2em;
        gap: 10px;
    }

    .main .textbox .text {
        font-size: 0.9em;
    }

    .main .pictures .photo {
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }

    .main .pictures .photo img {
        height: 190px;
        width: 190px;
        border-radius: 100px;
    }

    .call-to-action {
        flex-direction: column;
        gap: 10px;
    }

    .call-to-action .hirebtn,
    .call-to-action .Contact-btn {
        width: 80%;
    }
}


/* About sections  */

.Aboutme{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row;
}

.Aboutme .picture_of_me{
    width:40%;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding:20px;
}

.Aboutme .picture_of_me img{
    width:100%;
    height:100%;
    border-radius:20px;
    object-fit:contain;
    object-position: center;
}
.Aboutme .introductions{
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:grey;
    overflow: hidden;
}

.Aboutme .introductions .title{
    font-size: 2.5em;
    font-weight: 800;
    color:white;
    background-color:grey;
    margin-bottom:20px;
}


.Aboutme .introductions p{
    font-size: 1.2em;
    font-weight: 500;
    width:80%;
    line-height:1.5em;
    color:white;
    text-align: center;
}

@media (max-width: 768px) {
    .Aboutme {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .Aboutme .picture_of_me {
        width: 100%;
        height: 300px;
        padding: 20px;
    }

    .Aboutme .introductions {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .Aboutme .introductions .title {
        font-size: 1.8em;
    }

    .Aboutme .introductions p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .Aboutme .picture_of_me {
        height: 200px;
    }

    .Aboutme .introductions .title {
        font-size: 1.4em;
        margin-bottom: 15px;
    }

    .Aboutme .introductions p {
        font-size: 0.9em;
        width: 90%;
        line-height: 1.4em;
    }
}



